MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=portfolio
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,prakash-1ofn.onrender.com
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://prakash-1ofn.onrender.com
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5500,http://localhost:5500,https://prakash-1ofn.onrender.com
FILE_STORAGE_PROVIDER=local

# Optional AWS S3 / Cloudflare R2 Storage (if FILE_STORAGE_PROVIDER=s3 or r2)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_S3_REGION_NAME=
# AWS_S3_ENDPOINT_URL=
